@import '../../style/variables.scss';

.best-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 240px;
    background: rgba($light, 0.65);
    border-radius: 8px;
    padding: 20px;

    &__img {
        flex: 1;
        max-width: 100%;
        margin: 0 auto;
    }
    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */
        text-align: center;
        color: $main;
        margin-top: 14px;
    }
    &__price {
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */
        text-align: right;
        color: $main;
        margin-top: 10px;
    }
}