@import '../../style/variables.scss';

.main-secondary {
	background-image: url('../../img/our-coffee-bg.jpg');
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 52px 0 84px;

	&__body {
		margin-top: 60px;
	}
}