//Colors
$main: #000;
$light: #fff;

//Fonts
/*font-family: 'Merienda', cursive;*/
$font-main: 'Merienda', cursive;

//Media breakpoints
$md1: 1024px;
$md2: 992px;
$md3: 768px;
$md4: 576px;
$md5: 480px;
$md6: 425px;
$md7: 375px;
$minw: 320px;
$maxw: 1440px;
$container: 800px;