@import '../../style/variables.scss';

.coffee-list {
	overflow: hidden;
	padding: 60px 0 32px;

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -30px -35px;
	}
	&__column {
		margin: 30px 35px;
	}
}
@media (max-width: $md6) {
	.coffee-list {
		&__body {
			margin: -15px -30px;
		}
		&__column {
			margin: 15px 30px;
		}
	}
}